@model IEnumerable<Api_Xavier.Client.Models.CursoModel>

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
    ViewData["Title"] = "Index";
}


<h1>Lista de Cursos</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idcurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomcurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idhorario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idprof)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idcurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomcurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idhorario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idprof)
            </td>  
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
