@model IEnumerable<Api_Xavier.Client.Models.AlumnoModel>



@using (Html.BeginForm())

{

  <em>Ingrese Codigo</em>

  @Html.TextBox("nombre")

  <button>Consulta</button>

}



<table class="table">

  <tr>

    <td>Id</td>

    <td>Nombres</td>

    <td>Apellidos</td>

    <td>Dni</td>

    <td>Fecha</td>
    <td>Celular</td>
    <td>Usuario</td>
    <td>Password</td>

  </tr>

  @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idalumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomalum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apealum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dnialum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechalum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celalum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celalum)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.usualum)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.passalum)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }

</table>

